html {
	font-size: var(--main-font-size);
}

body {
	font-family: var(--font-family-base);
	font-optical-sizing: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	font-style: normal;
	background-image: linear-gradient(
		to bottom,
		var(--main-color) 48px,
		rgb(249, 194, 1) 48px 128px
	);
	background-repeat: no-repeat;
	background-size: auto 128px;
	color: var(--color-link);
}

.container {
	max-width: var(--container-width);
	min-height: 100dvh;
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
	overflow-x: scroll;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
