:root {
	--font-family-base: 'Inter', sans-serif;
	--main-font-size: 62.5%;

	--container-width: 1440px;
	--container-padding-x: 6.4rem;

	--header-padding-y: 1.6rem;

	--menu-padding-y: 3.2rem;
	--menu-content-color: rgba(255, 255, 255, 1);

	--color-link: rgba(85, 85, 85, 1);

	--main-color: rgba(28, 28, 28, 1);

	--border-radius-16: 16px;
}
