.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: var(--system-padding-medium);
}

.header__inner {
	display: flex;
	align-items: center;
	column-gap: var(--system-gap);
}
