.button {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semiBold);
	line-height: var(--line-height-md);
	color: var(--color-black);
	background-color: var(--color-greyWhite);
	border: none;
	border-radius: var(--border-radius-md);
	cursor: pointer;
}

.button--events {
	padding: var(--padding-lg);
	border: var(--border-width-thin) solid var(--color-black);
	background-color: transparent;
}
