.button {
	font-size: var(--system-fontSize-normal);
	font-weight: var(--system-fontWeight-semiBold);
	line-height: var(--system-lineHeight-normal);
	color: var(--main-color);
	background-color: rgb(244, 244, 244);
	border: none;
	border-radius: var(--system-borderRadius-normal);
	cursor: pointer;
}

.button--events {
	padding: var(--system-padding-medium);
	border: var(--system-borderWidth-thin) solid var(--system-color-black);
	background-color: transparent;
}
