.contacts {
	line-height: var(--line-height-md);
	text-align: end;
}
.contacts__tel {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semiBold);
	color: inherit;
	text-decoration: none;
	word-spacing: var(--word-spacing-primary);
}

.contacts__descr {
	font-size: var(--padding-sm);
}
