.contacts {
	line-height: var(--system-lineHeight-normal);
	text-align: end;
}
.contacts__tel {
	font-size: var(--system-fontSize-normal);
	font-weight: var(--system-fontWeight-semiBold);
	color: inherit;
	text-decoration: none;
	word-spacing: var(--system-wordSpacing-primary);
}

.contacts__descr {
	font-size: var(--system-padding-small);
}
