.nav__list {
	display: flex;
	align-items: center;
	column-gap: var(--gap-md);
	padding-block: var(--padding-xxsm);
	font-weight: var(--font-weight-semiBold);
}

.nav__link {
	color: inherit;
	text-decoration: none;
}

.nav__link--greyWhite {
	color: var(--color-greyWhite);
}

@media (any-hover: hover) {
	.nav__link.nav__link--greyWhite:hover {
		color: var(--color-grayContrast);
	}
}

@media (any-hover: hover) {
	.nav__link:hover {
		color: var(--color-black);
	}
}
