.nav__list {
	display: flex;
	align-items: center;
	column-gap: var(--gap-md);
	padding-block: var(--padding-xxsm);
	font-weight: var(--font-weight-semiBold);
}

.nav__link {
	color: inherit;
	text-decoration: none;
}
