.profile {
	display: flex;
	column-gap: var(--gap-sm);
	cursor: pointer;
}
.profile__block {
	--backgroundColor: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 48px;
	background-color: var(--backgroundColor);
	border: var(--border-width-thin) solid var(--color-black);
	border-radius: var(--border-radius-md);
}

.profile__block--black {
	--backgroundColor: var(--color-black);
}
