.profile {
	display: flex;
	column-gap: var(--system-gap-small);
	cursor: pointer;
}
.profile__block {
	--backgroundColor: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 48px;
	background-color: var(--backgroundColor);
	border: var(--system-borderWidth-thin) solid var(--system-color-black);
	border-radius: var(--system-borderRadius-normal);
}

.profile__block--black {
	--backgroundColor: var(--system-color-black);
}
