.promotion-tag {
	display: inline-block;
	padding: 0.8rem;
	height: 36px;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.4;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 8px;
}

.promotion-tag--yellow {
	color: var(--main-color);
	background-color: rgb(254, 221, 44);
}

.promotion-tag--grey {
	color: var(--card-content-color);
	background-color: rgb(144, 144, 144);
}

.tag-status {
	margin-left: auto;
}
