.promotion {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
	background-color: var(--main-color);
	min-width: 1440px;
}

.promotion-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 1.2rem;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.33;
	color: var(--menu-content-color);
}

.promotion__btn-close {
	position: relative;
	width: 20px;
	height: 20px;
	padding: initial;
	color: #393939;
	background-color: currentColor;
	border: 1px solid currentColor;
	border-radius: 50%;
	cursor: pointer;
}

.promotion__btn-close::before,
.promotion__btn-close::after {
	content: '';
	display: block;
	position: absolute;
	left: 4px;
	width: 9px;
	height: 1.5px;
	background-color: var(--menu-content-color);
	border-radius: 4px;
}

.promotion__btn-close::before {
	transform: rotate(45deg);
}

.promotion__btn-close::after {
	transform: rotate(-45deg);
}
