.promotion {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: var(--padding-md);
	background-color: var(--color-black);
	min-width: var(--content-width);
}

.promotion-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: var(--padding-sm);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semiBold);
	line-height: var(--line-height-md);
	color: var(--color-white);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
