.promotion {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: var(--system-padding-normal);
	background-color: var(--system-color-black);
	min-width: var(--system-content-width);
}

.promotion-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: var(--system-padding-small);
	font-size: var(--system-fontSize-normal);
	font-weight: var(--system-fontWeight-semiBold);
	line-height: var(--system-lineHeight-normal);
	color: var(--system-color-white);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
