.tag {
	display: inline-block;
	padding: var(--padding-xxsm);
	height: 36px;
	font-size: var(--font-size-xxsm);
	font-weight: var(--font-weight-semiBold);
	line-height: 1.4;
	background-color: var(--color-transBlack);
	border-radius: var(--border-radius-sm);
}

.tag--yellow {
	color: var(--color-black);
	background-color: var(--color-brightYellow);
}

.tag--grey {
	color: var(--color-white);
	background-color: var(--color-gray);
}

.tag-status {
	margin-left: auto;
}
