.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 84px;
	font-size: 1.6em;
	line-height: 2rem;
	color: var(--main-color-opacity-1);
}
.footer-link {
	color: var(--main-color-opacity-1);
}
