html {
	font-size: var(--font-size-base);
}

body {
	font-family: var(--font-family-base);
	font-optical-sizing: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: var(--font-size-xsm);
	font-weight: var(--font-weight-regular);
	font-style: normal;
}

.page-header {
	min-width: var(--content-width);
	background-image: var(--gradient-header);
	color: var(--color-darkGrey);
}

.page-main {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-lg);
	padding-bottom: var(--padding-xlg);
}

.page-footer {
	min-width: var(--content-width);
	background-color: var(--color-black);
}

.container {
	max-width: var(--content-width);
	margin-inline: auto;
	padding-inline: var(--padding-xxlg);
}
