html {
	font-size: var(--font-size-base);
}

body {
	font-family: var(--font-family-base);
	font-optical-sizing: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: var(--font-size-xsm);
	font-weight: var(--font-weight-regular);
	font-style: normal;
}

.page-header {
	min-width: var(--content-width);
	background-image: var(--gradient-header);
	color: var(--color-darkGrey);
}

.page-main {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-lg);
	padding-bottom: var(--padding-xxlg);
}

.container {
	max-width: var(--content-width);
	margin-inline: auto;
	padding-inline: var(--padding-xxlg);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.overlay::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	background-image: var(--gradient-card);
}
