:root {
	--font-family-base: 'Inter';
	--content-width: 1440px;

	--color-black: rgb(28, 28, 28);
	--color-silver: rgb(57, 57, 57);
	--color-white: rgb(255, 255, 255);
	--color-darkGrey: rgb(85, 85, 85);
	--color-brightYellow: rgb(254, 221, 44);
	--color-dimYellow: rgb(249, 194, 1);
	--color-dark: rgba(3, 3, 3, 0.5);
	--color-gray: rgb(114, 114, 114);
	--color-transBlack: rgba(0, 0, 0, 0.6);
	--color-greyWhite: rgb(244, 244, 244);
	--color-grayContrast: rgb(166, 166, 166);

	--font-size-base: 62.5%;
	--font-size-xlg: 4rem;
	--font-size-lg: 3.2rem;
	--font-size-md: 2.4rem;
	--font-size-sm: 1.8rem;
	--font-size-xsm: 1.6rem;
	--font-size-xxsm: 1.4rem;
	--font-size-xs: 1.2rem;

	--font-weight-semiBold: 600;
	--font-weight-regular: 400;

	--word-spacing-primary: 1px;

	--border-radius-circle: 50%;
	--border-radius-md: 16px;
	--border-radius-sm: 8px;
	--border-radius-xsm: 4px;

	--border-width-thin: 2px;
	--border-width-xthin: 1px;

	--padding-xxlg: 6.4rem;
	--padding-xlg: 3.2rem;
	--padding-lg: 1.6rem;
	--padding-md: 1.5rem;
	--padding-sm: 1.2rem;
	--padding-xsm: 1rem;
	--padding-xxsm: 0.8rem;

	--line-height-md: 1.33;
	--line-height-sm: 1.25;
	--line-height-xsm: 1.22;

	--gap: 64px;
	--gap-lg: 32px;
	--gap-md: 25px;
	--gap-sm: 16px;
	--gap-xsm: 8px;

	--gradient-header: linear-gradient(
		to right,
		var(--color-brightYellow),
		var(--color-dimYellow)
	);
	--gradient-card: linear-gradient(
		to bottom,
		transparent 50%,
		var(--color-dark) 100%
	);

	--animate-duration: 0.2s;
}
